*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 52%, rgba(13,13,129,1) 100%);
 
  
}

.container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color:  rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(6, 70, 83) 52%, rgba(13,13,129,1) 100%);;
  padding: 2rem;
  border-radius: 20px;
  color: aliceblue;
}

strong{
  margin-right: 10px;
}