*{
 
  font-family: sans-serif;
  box-sizing: border-box;
}
.header{
  background-color: brown;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 20px;
 
}
.header nav ul{
  display: flex;
  color: beige;
  gap: 8px;
  text-decoration: none;
  
}

.header nav ul li{
  
list-style-type: none;
  
}
.header nav ul li a{
  color: white;
  text-decoration: none;
}
h2{
  color: rgb(132, 15, 15);
}